<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xe.alipay.mapper.BalanceDescriptionMapper" >
  <resultMap id="BaseResultMap" type="com.xe.alipay.model.BalanceDescription" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="cause" property="cause" jdbcType="INTEGER" />
    <result column="changemoney" property="changemoney" jdbcType="DECIMAL" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, cause, changemoney, createtime
  </sql>

</mapper>